
@media screen and (display-mode: standalone) {
	header {
	  height: 88px !important;
	}


  }
  
  body {
	margin: 0px;
	background-color: #f7f5ef;
	font-family: 'Open Sans', sans-serif;
	-webkit-tap-highlight-color: transparent;
	width: 100%;
}
/* HOMEPAGE */

/* INIZIO NAVBAR  */

.logo_img{
	height: 4em;
	width: auto;
}

.navb_img{
	height: 3em;
	width: auto;
}



.navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	width: 100%;
	margin: auto;

}

.img_navbar {
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;

}

.a_imgnavbar {
	padding: 20px;
}

table {
	width: 100%;
}

td {
	width: 20%;
	text-align: center;
}

hr.navbar {
	border: 3px solid #4E35EA;
	border-radius: 7px;
	width: 70px;
}



@media screen and (max-width: 700px) {
	
	.navb_img{
		height: 2em;
		width: auto;
	}

	.logo_img{
		height: 2.5em;
		width: auto;
	}
	
}

/*FINE NAVBAR*/ 


.features {

	padding-top: 0em;
}


.benvenuto {
	text-align: center;	
	margin: auto;
	width: 30%;	
	padding: 10px;
	
}

.bottone_dizionario {
	background-color: #4E35EA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	border-radius: 30px;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}



img.feature{
	width: 100%;
	height: auto;
}
@media screen and (max-width: 700px) {
	
.benvenuto {
	text-align: center;
	margin: auto;
	width: 100vw;
	padding: 0px;

	
}

.features {

	padding-top: 6em;
	
}

.bottone_dizionario {
	background-color: #4E35EA;
	border: none;
	color: white;
	padding: 2em 4em;
	text-decoration: none;
	display: inline-block;
	border-radius: 30px;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}



}